<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="header">
      <h1>VML</h1>
    </div>
  
    <nav class="navbar">
      <a href="/index" class="nav-link">Home</a>
      <a href="/standings" class="nav-link">Standings</a>
      <a href="/games" class="nav-link">Upcoming Games</a>
      <a href="/info" class="nav-link">Info</a>
      {% if session.get("captain") %}
      <a href="/team" class="nav-link">Manage Team</a>
      {% endif %}
      {% if not session.get("loggedIn") %}
      <a href="/loginPage" class="nav-link login-signup">Login/Signup</a>
      {% endif %}

    </nav>
  
    <div class="content">
        <!-- for security, only if got perms (incase they enter admin manually) -->
        {% if adminperms %}



        admin will go here



        <!-- if not got perms show nothing -->
        {% else %}
        <h2>permission denied</h2>
        {% endif%}

    </div>

</body>
</html>