<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="header">
      <h1>VML</h1>
    </div>
  
    <nav class="navbar">
      <a href="/" class="nav-link">Home</a>
      <a href="/standings" class="nav-link">Standings</a>
      <a href="/info" class="nav-link">Info</a>
      {% if captain %}
      <a href="/team" class="nav-link">Manage Team</a>
      {% endif %}
      {% if adminperms %}
      <a href="/admin" class="nav-link">Admin</a>
      {% endif %}
      {% if not loggedIn %}
      <a href="/loginPage" class="nav-link login-signup">Login/Signup</a>
      {% endif %}

    </nav>
  
    <div class="content">
        <p>games go here</p>
    </div>
</body>
</html>